[core]
	editor = emacs
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[user]
	name = Wai
	email = johnchunwai@gmail.com
[push]
	default = simple
[credential]
	helper = store
[alias]
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
